<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- pool配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--<property name="maxTotal" value="20"/>-->
        <property name="maxIdle" value="10"/>
        <property name="maxWaitMillis" value="1000"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <!-- jedis pool配置 -->
    <!--<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="127.0.0.1"/>
        <constructor-arg index="2" value="6380"/>
    </bean>-->

    <!-- redis的连接池pool，不是必选项：timeout/password  -->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="127.0.0.1"/>
        <constructor-arg index="2" value="6380" type="int"/>
        <!--<constructor-arg index="3" value="${redis.timeout}" type="int"/>
        <constructor-arg index="4" value="${redis.password}"/>-->
    </bean>

    <!-- 包装类 -->
    <bean id="redisUtil" class="com.redis.thd.RedisUtil">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>

    <!-- 普通redis -->
    <bean id="jedis" class="com.redis.thd.jedispool.RedisFactoryBean">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="192.168.1.217"/>
        <constructor-arg index="2" value="6379"/>
    </bean>
</beans>